{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Erro no servidor</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div style="min-height:100vh;display:flex;align-items:center;justify-content:center;">
    <div style="text-align:center;max-width:400px;">
        <img src="{% static 'img/mascote.png' %}" width="200">

        <h1>Algo deu errado 😕</h1>

        <p>
            Ocorreu um erro inesperado.<br>
            Nossa equipe já foi notificada.
        </p>

        <a href="/">Voltar para o início</a>
    </div>
</div>

</body>
</html>
